body
{
color: #666;
font-family: Roboto,Arial,sans-serif;
font-size: 14px;
margin: 0;
padding: 0;	margin: 0;
}

#page
{
}

#header
{
	border-bottom: 1px solid #CCC;
	position: relative;
	z-index: 100;
	height:23px;
	background-color: #AFBAD7;
}
#header-container
{
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;	
}
#content-2
{
	margin: 0 auto;
	padding: 20px;	
	width: 60%;
	margin-top:40px;	
<!--
	padding-left: 0px;	
-->
<!--
	margin: 0;
-->
}
div.reduce
{
	width: 85%;
	float:right;
}

#content
{
	width: 100%;
	padding-top: 20px;	
	margin-top:40px;
	float:left;
<!--
	padding-left: 0px;	
-->
<!--
	margin: 0;
-->
}
#content-center
{
	width: 75%;
	padding-top: 20px;	
	margin-top:40px;
	margin-left: 12%;
	float:left;
<!--
	padding-left: 0px;	
-->
<!--
	margin: 0;
-->
}

#sidebar
{
	
	width: 10%;
	float: left;
	display: inline-block;
	margin-top: 11%;
	margin-left: 1%;
}

#footer
{
	margin: 0 auto;
	padding: 0px;
	font-size: 0.8em;
	text-align: center;
	width: 100%;	
}
div.line {
    background: -moz-linear-gradient(center top , #ACBC00 0pt, #ACBC00 50%, #BDDE00 50%, #BDDE00 100%) repeat scroll 0 0 transparent;
	background-image: -webkit-linear-gradient(top, #ACBC00 0px, #ACBC00 50%, #BDDE00 50%, #BDDE00 100%);
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;	clear: both;
    height: 2px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}
div.header-menu-item
{
	font-size: 17px;
	font-weight:bold;
	margin-left:50px;
	float: left;
	color: gray;
}
a.header-menu-item
{
	text-decoration:none;
	font-size: 17px;
	font-weight:bold;
	margin-left:15px;
	float: left;
	color: gray;
}
a.header-menu-item-hidden
{
	display:none;
}
a.header-menu-item:HOVER
{
	color: white;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}
div.view-index
{
	display: block;
	z-index: 10;
	position: relative;
}
div.view-single-left
{
	background-color: #FCFDFF;
	padding: 20px 5px 5px 10px;
	margin: 10px 10px;
	border: 1px solid #9ad7f5;
	width: 45%;
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: block;
	z-index: 4;
	position: relative;
	clear: left;
}
div.view-single-right
{
	background-color: #FCFDFF;
	padding: 20px 5px 5px 10px;
	margin: 10px 10px;
	border: 1px solid #9ad7f5;
	width: 45%;
	float: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: block;
	z-index: 4;
	position: relative;
	clear: right;
}
div.review-container-single-view
{
	
}
div.review-single-view
{
	padding: 20px 0px 10px 0px;
	margin: 0px 0px 0px 1%;
	width: 98%;
	float: left;
	display: block;
	z-index: 4;
	position: relative;
	background-color: #FCFDFF;
}
div.review-single-view-multimedia
{
	padding: 0px;
	margin: 0px 0px 0px 1%;
	width: 98%;
	float: left;
	display: block;
	z-index: 4;
	position: relative;
}

div.view-text-note
{
	font-size: 13px;
	line-height: 18px;
	padding:18px 10px 10px 10px;
	border-top: 1px solid white;
	border-bottom: 1px solid #D2D9E7;
	background-color: #f4f6fb;
	position: relative;
}
div.mini-note-attch-zone
{
	font-size: 13px;
	line-height: 18px;
	padding:18px 10px 10px 10px;
	border-top: 1px solid white;
	border-bottom: 1px solid #D2D9E7;
	background-color: #E5ECFB;
	position: relative;	
	display:none;
	height:auto;
	margin-top: 10px;
}
div.view-text-simple-note
{
	font-size: 13px;
	line-height: 18px;
	position: relative;
}
div.review-text-simple-note
{
	font-size: 13px;
	line-height: 18px;
	position: relative;
	width: 99%;
	float:left;
	margin-left: 1%;
	<!--
	margin-left: 0px;
	-->
	margin-bottom: 5px;
}

div.review-text-images
{
	font-size: 13px;
	line-height: 18px;
	position: relative;
	float:left;
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 15px;
}
div.review-text-docs
{
	font-size: 13px;
	line-height: 18px;
	position: relative;
	width: 90%;
	float:left;
	margin-left: 0px;
	margin-bottom: 5px;
	margin-top: 15px;
	text-decoration: none;
}
a.review-text-docs
{
	text-decoration: none;
}
a.review-text-docs:HOVER
{
	text-decoration: underline;
}
p.review-text-docs
{
	text-decoration: none;
	color: #0066CC;
	cursor: pointer;
}
p.review-text-docs:HOVER
{
	text-decoration: underline;
	color: #0099FF;
	cursor: pointer;
}
p.note-edit-permission
{
	text-decoration: none;
	color: #0066CC;
	cursor: pointer;
	width: 20%;
}
p.note-edit-permission:HOVER
{
	text-decoration: underline;
	color: #0099FF;
	cursor: pointer;
	width: 20%;
}
div.view-text-simple-title
{
	font-weight:bold;
	font-size: 13px;
	line-height: 18px;
	position: relative;
	margin-bottom: 5px;
	margin-left: 5px;
}

div.view-text-date
{
	position: absolute;
	right:25px;
	top: 2px;
	font-size: 10px;
	line-height: 18px;
}
div.view-text-note-actions
{
	position: absolute;
	right:25px;
	top: 2px;
	height: 18px;
	width: 20%;
}
div.view-note-title
{
	background-color: #E5ECFB;
	position: relative;
	margin-left: 5px;
	float: left;
	top: 2px;
	display: inline;
	width: 60%;
}
div.view-text-user
{
	position: absolute;
	left:15px;
	top: 2px;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
}

div.review-create-note
{	
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */	
	right:1%;
	top: 8px;
	font-size: 10px;
	line-height: 18px;
	background: none repeat scroll 0 0 #AFBAD7;
	z-index: 20;
	padding: 0px 5px  0px 5px;
	cursor: pointer;	
	width:50px;
	text-align: center;
	float:right;
	margin-right: 1%;
	margin-top: 2px;
}
div.review-create-note:HOVER
{
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
div.review-create-note-cancel
{	
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	width:50px;
	right:1%;
	top: 30px;
	font-size: 10px;
	line-height: 18px;
	background: none repeat scroll 0 0 #AFBAD7;
	z-index: 20;
	padding: 0px 5px  0px 5px;
	cursor: pointer;	
	text-align: center;
	float: right;
	margin-right: 2%;
	margin-top: 2px;
}
div.review-create-note-cancel:HOVER
{
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

div.review-create-note-btn
{	
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	position: absolute;
	font-size: 10px;
	line-height: 18px;
	background: none repeat scroll 0 0 #AFBAD7;
	z-index: 20;
	padding: 0px 5px  0px 5px;
	cursor: pointer;	
	width:50px;
	text-align: center;
}
div.review-create-note-btn:HOVER
{
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
div.review-create-title-btn-main
{	
	right:80px;
}
div.review-create-title-btn-main-cancel
{	
	right:15px;	
}
div.review-create-note-btn-main
{	
	right:80px;
	top: 320px;
}
div.review-create-note-btn-main-cancel
{	
	right:15px;
	top: 320px;
}

div.review-edit-image
{
	position: absolute;
	right:35px;
	top: 45px;
	font-size: 10px;
	line-height: 18px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	z-index: 20;
	padding: 0px 5px  0px 5px;
}
div.review-edit-image-album
{
	right:70px;
	top: 20px;
}

a.review-edit-image
{
	color: #b6b6b6;
	text-decoration: none;
}
a.review-edit-image:hover
{
	color: white;
	text-decoration: none;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
ul.nav
{
	list-style-type: none;
	float: left;	
	 margin: 0;
    padding: 0;
}
li.nav
{
	display: inline;
    margin-left: 45px;
	list-style-type: none;
}
.nav a
{
	color: #333333;
    font-size: 16px;
    text-decoration: none;
}
.nav a:hover
{
	color: #33B5E5;
}


div.search
{
	margin-right: 5px;
    position: relative;
    top: -2px;
	float: right;
}
div.search-icon
{
	float: left;	
	background: url("search.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 17px;
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: 17px;
}
#search
{
	display: inline-block;
    width: 145px;
}
div.view-dialog-right
{
	float: left;
	z-index: 1;
	position: absolute;
	background: url("dialog-right.png") no-repeat;
	top: 10px;
	left: -9px;
	width: 19px;
	height: 15px;
}

div.view-dialog-left
{
	float: left;
	z-index: 1;
	position: absolute;
	background: url("dialog-left.png") no-repeat;
	top: 10px;
	right: -19px;
	width: 19px;
	height: 15px;
}
div.wall-action-area
{
	position:relative;
	display: inline-block;
	padding:10px 0px 10px 0px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: #f4f6fb;
	width: 98%;	
	height: auto;	
	margin-left: 1%;
	margin-top: 0px;
}
div.review-action-area
{
	position:relative;
	float: left;
	vertical-align: baseline;
	display: block;
	padding:10px 0px 10px 0px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: #f4f6fb;
	width: 98%;	
	height: auto;	
	margin-left: 1%;
	margin-top: 0px;
}

div.wall-action-box-btn
{
	
}

div.wall-action-btn
{
	float: left;
	margin:5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	background-color: #afbad7;
	position: relative;
	width: 100px;
	height:20px;	
	cursor:pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold; 
	z-index: 9;
}
div.wall-action-btn-hover
{
	background-color: white;
}

div.wall-action-btn-disable
{
	background-color: #d7ddeb;
	cursor: default;
}
div.wall-action-btn-selected
{
	background-color: white;
	cursor: default;
}
div.review-action-permissions-box-btn
{
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
}
div.review-action-btn
{
	margin:0 auto;
	padding:5px 5px 5px 5px;
	background-color: #afbad7;
	position: relative;
	width: 100px;
	height:20px;	
	cursor:pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold; 
	z-index: 9;
}
div.review-action-btn:hover
{
	background-color: white;
}
div.review-attr-text
{
	font-weight: bold;
	float: left;
	margin-left: 5px; 
}

div.wall-action-ddl
{
	margin-right: 20px;
	margin-left: 15px;
	margin-top: 8px;
	float: left;
	position: relative;
	z-index: 9;
}
div.review-action-back
{
	float: left;
	margin:5px 5px 5px 5px;
	padding:5px 20px 5px 20px;
	position: relative;
	height:20px;	
	cursor:pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold; 
	z-index: 9;	
	background-color: #e5ecfb;
}
div.review-action-filters
{
	float: left;
	margin:5px 5px 5px 5px;
	position: relative;	
	height:20px;	
	text-align: left;
}
div.review-action-customer
{
	float: left;
	margin:5px 5px 5px 30px;
	padding:5px 5px 5px 5px;
	position: relative;
	width: 300px;
	height:20px;	
	cursor:pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: left;
	font-weight: bold; 
	z-index: 9;	
	background-color: #AFBAD7;
}
div.review-action-back:hover
{
	background-color: #F9FBFE;
	color: gray;
}


div.review-action-box-btn
{
	margin-right: 20px;
	margin-left: 15px;
	margin-top: 6px;
	float: left;
	position: relative;
	z-index: 9;
}

div.wall-action-area-note
{
	font-size: 13px;
	line-height: 18px;
	padding:18px 0px 10px 0px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: #f4f6fb;
	position: relative;
	width: 98%;	
	margin-left: 1%;
	margin-bottom: 15px;
	float: left;	
}
div.review-update-documents
{
	float: left;
	position: relative;
	width: 98%;
	margin-left: 1%;
}
div.review-update-documents-items
{
	float: left;
	width: 100%;	
}
div.review-update-upload-document
{
	font-size: 13px;
	line-height: 18px;
	padding:18px 0px 10px 0px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: #f4f6fb;
	position: relative;
	width: 98%;	
	margin-left: 1%;
	margin-bottom: 15px;
	float: left;	
}

div.review-action-area-dialog
{
	float: left;
	z-index: 1;
	position: absolute;
	background: url("dialog-wall-action.png") no-repeat;
	top: -8px;
	left: 530px;
	width: 19px;
	height: 15px;
}

div.wall-action-area-note-dialog
{
	float: left;
	z-index: 1;
	position: absolute;
	background: url("dialog-wall-action.png") no-repeat;
	top: -8px;
	left: 530px;
	width: 19px;
	height: 15px;
}
div.wall-action-area-album-dialog
{
	float: left;
	z-index: 1;
	position: absolute;
	background: url("dialog-wall-action.png") no-repeat;
	top: -8px;
	left: 415px;
	width: 19px;
	height: 15px;
}

div.wall-action-area-images-dialog
{
	float: left;
	z-index: 1;
	position: absolute;
	background: url("dialog-wall-action.png") no-repeat;
	top: -8px;
	left: 300px;
	width: 19px;
	height: 15px;
}

div.wall-action-area-docs-dialog
{
	float: left;
	z-index: 1;
	position: absolute;
	background: url("dialog-wall-action.png") no-repeat;
	top: -8px;
	left: 630px;
	width: 19px;
	height: 15px;
}

input.wall-action-upload-file-hidden
{	
	cursor:pointer;
	position: relative;
	float:left;
	text-align: right;
	filter:alpha(opacity: 0);
	-moz-opacity:0 ;
	-webkit-opacity:0 ;
	opacity: 0;
	z-index: 2;
	width: 120px;
	height:28px;	
	margin:5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
}
div.wall-action-upload-file-btn
{
	float: left;
	margin: 0.2em 0 0.5em;
	padding:5px 5px 5px 5px;
	background-color: #afbad7;
	position: absolute;
	width: 100px;
	height:20px;	
	cursor:pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold; 
	z-index: 1;
	<!--
	left:0;
	-->
}
div.wall-action-upload-file-btn-hover
{
	background-color: white;
}
div.wall-action-upload-file-btn-container
{
	position: relative;
	width: 120px;
	height:30px;	
	padding:5px 5px 5px 5px;
	float: left;
	<!--
	left:0;
	-->
}
div.wall-action-upload-file-container
{
	position: relative;
}
div.wall-action-fake-uploadFile
{
	position: relative;
	margin-top: 10px;
	float: left;
}
textarea.wall-action-upload-file-description
{
	padding: 5px;
	outline: none;
	background-color: #f4f6fb;
	border: 1px solid #afbad7;
	font-size: 13px;
	line-height: 18px;
	resize: none;
	width: 95%;
	margin-left: 1%;
}
div.view-text-note-add
{
	font-size: 13px;
	line-height: 18px;
	border-top: 1px solid white;
	border-bottom: 1px solid #D2D9E7;
	background-color: #f4f6fb;
	position: relative;
}
div.review-text-note-add
{
	font-size: 13px;
	line-height: 18px;
	border-top: 1px solid white;
	border-bottom: 1px solid #D2D9E7;
	background-color: #f4f6fb;
	position: relative;
	width: 98%;
	float: left;
	margin: 0px 1%;
}
div.review-text-note-add-progress
{
	font-size: 13px;
	line-height: 18px;
	background-color: #f4f6fb;
	position: relative;
	width: 100%;
}

textarea.wall-action-add-note
{
	z-index:10;
	position: relative;
	padding: 5px 10px 5px;
	outline: none;
	background-color: #f4f6fb;
	border: 1px solid #f4f6fb;
	font-size: 13px;
	line-height: 18px;
	resize: none;
	width: 95%;
}

textarea.wall-action-add-note:focus
{
	background-color: white;	
}
textarea.review-action-add-note
{
	z-index:10;
	position: relative;
	padding: 1% 2% 1%;
	outline: none;
	background-color: #f4f6fb;
	border: 1px solid #f4f6fb;
	font-size: 13px;
	line-height: 18px;
	resize: none;
	width: 93%;
	height: 180px;
	margin-left:1%; 
	margin-right:1%; 
	margin-bottom: 2px;
}
textarea.review-action-add-note-holder
{
	z-index:10;
	position: relative;
	padding: 1% 2% 1%;
	outline: none;
	background-color: #f4f6fb;
	border: 1px solid #f4f6fb;
	font-size: 13px;
	line-height: 18px;
	resize: none;
	width: 93%;
	height: 100px;
	margin-left:1%; 
	margin-right:1%; 
}
textarea.review-action-add-note:focus
{
	background-color: white;	
}
textarea.review-action-add-note-focus
{
	background-color: white;	
}


div.review-public-permission-area
{
	position: relative;
	padding: 5px 10px 5px;
	background-color: #f4f6fb;
	border: 1px solid #f4f6fb;
	font-size: 13px;
	line-height: 18px;
	width: 540px;
	margin-left: 5px;
	<!-- 
	margin-left: 0px;
	-->
	float: left;
	display: inline-block;
}
div.review-permission-area
{
	position: relative;
	padding: 5px 10px 5px;
	background-color: #f4f6fb;
	border: 1px solid #f4f6fb;
	font-size: 13px;
	line-height: 18px;
	width: 540px;
	float: left;
	display: none;
}

div.review-permission-area-edit
{
	position: relative;
	padding: 5px 10px 5px;
	background-color: #f4f6fb;
	border: 1px solid #f4f6fb;
	font-size: 13px;
	line-height: 18px;
	width: 540px;
	height:20px;
	margin-top: 5px;
	float: left;
	display: inline-block;
}
div.review-permission-title
{
	font-size: 11px;
	line-height: 18px;
	padding: 0px 5px  0px 5px;
	width:80px;
	text-align: left;
	margin-left:5px;
  	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
}

div.note-preview
{
	display: inline-block;
	font-size: 11px;
	line-height: 18px;
	padding: 0px 5px  0px 5px;
	width:100%;
	text-align: left;
	margin-left:5px;
  	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
}
div.wall-action-edit-main-note
{
	z-index:10;
	position: relative;
	padding: 5px 1% 5px 1%;
	outline: none;
	background-color: #f4f6fb;
	font-size: 13px;
	line-height: 18px;
	width: 97%;
	height: 250px;
	font: inherit;
	color: inherit;
	margin: 0px 0px 0px 0px;
	overflow: auto;
}

textarea.wall-action-edit-main-title
{
	z-index:10;
	position: relative;
	padding: 5px 10px 5px;
	outline: none;
	background-color: #E5ECFB;
	border: 1px solid #f4f6fb;
	font-size: 13px;
	line-height: 18px;
	resize: none;
	width: 540px;
	height: 30px;
	font: inherit;
	color: inherit;
	margin: 0px;
}
textarea.wall-action-edit-main-title:FOCUS
{
	background-color: white;	
}
textarea.wall-action-edit-main-note
{
	z-index:10;
	position: relative;
	padding: 5px 1% 5px 1%;
	outline: none;
	background-color: #f4f6fb;
	border: 1px solid #f4f6fb;
	font-size: 13px;
	line-height: 18px;
	resize: none;
	width: 97%;
	height: 250px;
	font: inherit;
	color: inherit;
	margin: 0px;
}
textarea.wall-action-edit-main-note:FOCUS
{
	background-color: white;	
}
input.wall-action-submit-btn
{
	background-color: #afbad7;
    border: 0 solid #AFBAD7;
    font-size: 15px;
    outline: medium none;
    padding: 5px;
	width: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}
input.wall-action-submit-btn:HOVER
{
	background-color: white;
}
a.wall-action-submit-btn
{
	background-color: #afbad7;
    border: 0 solid #AFBAD7;
    font-size: 15px;
    padding: 5px 30px 5px 30px;
	width: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	cursor: pointer;	
}
a.wall-action-submit-btn:HOVER
{
	background-color: white;
}

div.test
{
	float: left;
	margin: 0.2em 0 0.5em;
	padding:5px 5px 5px 5px;
	position: absolute;
	width: 100px;
	height:20px;	
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold; 
	z-index: 1;	
}
div.loading-place-holder
{
	float: right;
	position: absolute;
	right:20px;
	width: 16px;
	height: 16px;
}
div.send-mail
{
	float: right;
	position: relative;
	bottom:12px;
	height: 16px;
}

div.loading
{
	background:url(loading.gif) transparent no-repeat right;
	background-color: #f4f6fb;
}
div.big-loading-place-holder
{
	z-index:100;
	bottom:20px;
	float: right;
	position: relative;
	right:20px;
	width: 66px;
	height: 66px;
}
div.big-loading
{
	background:url(big-loading.gif) transparent no-repeat right;
}
img.wall-action-album-update
{	
	position:absolute;
	top:20px;
	right:5px;
	width:15px;
	cursor: pointer;
}
img.review-need-update
{	
	position:absolute;
	top:10px;
	display: none;
	right:5px;
	width:25px;
	cursor: pointer;
}
input.album-action-remove
{	
	position:absolute;
	top:0px;
	right:0px;
	width:25px;
	cursor: pointer;
}
img.wall-action-remove
{	
	position:absolute;
	top:0px;
	right:0px;
	width:25px;
	cursor: pointer;
}
img.wall-action-remove-small
{	
	position:absolute;
	top:0px;
	right:0px;
	width:20px;
	cursor: pointer;
}
img.action-show-hide-attch
{	
	position:absolute;
	top:2px;
	right:0px;
	cursor: pointer;
}
img.action-show-saving-note
{	
	position:absolute;
	top:2px;
	right:100px;
	cursor: pointer;
}

div.mini-note-attch-link
{	
	position:absolute;	
	top:0px;
	right:2px;
	margin-right: 2px;
	height:25px;		
}
div.mini-note-images
{	
	width: 50%;
	margin-top :10px;
	top:2px;
	display:inline-block;	
}
div.mini-note-docs
{		
	right:0px;
	display:inline-block;
	margin-top :12px;
	vertical-align: top;
}
img.review-action-remove-small
{	
	position:absolute;
	top:0px;
	right:0px;
	width:17px;
	cursor: pointer;
}

div.album-action-area
{
	font-size: 13px;
	line-height: 18px;
	padding:18px 10px 10px 10px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: #f4f6fb;
	position: relative;
	width: 840px;	
	margin-left: 15px;
	margin-bottom: 10px;
	float: left;
}
div.album-action-area-images
{
	position: relative;
	display: inline-block;	
}
div.review-area-files
{
	width:100%;
	position: relative;
	display: inline-block;	
}
div.review-action-area-files
{
	background-color: #F4F6FB;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    float: left;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
    padding: 18px 0px 10px 0px;
    position: relative;
    width: 100%;
}
div.review-area-single-files
{
	width: 100%;	
	position: relative;
	
}
div.review-area-single-files-name
{
	width: 100%;	
	margin-top: 10px;
}
div.review-area-single-files-description
{
	width: 100%;	
	padding-left: 20px;
}
div.album-action-area-image
{
	position: relative;
	background-color: #FCFDFF;
	padding: 25px 5px 5px 5px ;
	margin: 10px 10px 10px 10px;
	border: 1px solid #9ad7f5;
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: block;
}
img.wall-action-pdf
{
	border: 2px solid silver;
}
img.wall-action-pdf-watermark
{
	float:left;
	position:absolute;
	left:20px;
	top:30px;
	width: 60px;
}
div.index-review-area
{
	display: inline-block;
	border: 1px solid #f4f6fb;
	position: relative;
	width: 98%;	
	margin: 10px 0% 10px 1%;
	padding:10px 0px 10px 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.index-review-customer-separator
{
	display: inline-block;
	border: 1px solid #f4f6fb;
	position: relative;
	width: 95%;	
	margin: 10px 1% 10px 1%;
	padding:10px 1% 10px 1%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.index-review-quick-view
{	
	margin: 10px 1% 10px 1%;
	padding:5px 1% 5px 1%;
	position: relative;
	float:left;
	display: inline-block;
	width: 98%;
}

div.div-hidden
{
	display: none;
}
a.index-review-single-link
{
	color: #666666;
	text-decoration: none;
}

div.review-update-data
{
	position:relative;
	vertical-align: baseline;
	display: inline-block;
	padding:5px 0px 10px 0px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: #f4f6fb;
	width: 98%;	
	height: auto;	
	margin-left: 1%;
	margin-top: 0px;
	
}
div.review-close-area
{
	position:relative;
	display: inline-block;
	padding:5px 0px 10px 1%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: #cccccc;
	width: 97%;	
	height: auto;	
	margin-left: 1%;
	margin-top: 0px;
	
}
input.review-update-data-number
{	
	color:#666666;	
	background-color: #F4F6FB;
	border: 1px solid #f4f6fb;
	width: 25px;
	text-align: center;
	font-weight: bold;
	margin-left: 1%;
}
input.review-update-data-number:HOVER
{
	background-color: white;
	border: 1px solid gray;
}

input.review-update-data-number:FOCUS
{
	background-color: white;
	border: 1px solid blue;
}
textarea.review-update-data-text
{
	color:#666666;		
	z-index:10;
	position: relative;
	padding: 5px 5px 5px;
	outline: none;
	background-color: #f4f6fb;
	border: 1px solid #f4f6fb;
	font-size: 14px;
	line-height: 18px;
	resize: none;
	width: 95%;
	font-weight: bold;
	height: 20px;
	font-family: Roboto,Arial,sans-serif;
}
textarea.review-update-data-text:hover
{
	background-color: white;	
	border: 1px solid #BBB;
	
}
textarea.review-update-data-text:focus
{
	background-color: white;
	border: 1px solid blue;		
}
div.review-update-image
{
	margin-bottom: 3px;
}
textarea.review-update-album-descr
{
	position: relative;
	padding: 5px 10px 5px;
	outline: none;
	background-color: #f4f6fb;
	border: 1px solid #f4f6fb;
	font-size: 13px;
	line-height: 18px;
	resize: none;
	width: 218px;
	margin-top: 8px;
}
textarea.review-update-album-descr:hover
{
	background-color: white;	
}
textarea.review-update-album-descr:focus
{
	background-color: white;	
	border: 1px solid blue;
}

div.review-update-data-info
{
	margin-top: 5px;
	margin-right: 5px;
	display: inline-block;
	float: left;
	font-weight: bold;
	margin-left: 1%;
	
}
div.review-update-data-info-descr
{	
	margin-top: 5px;
	<!--
	margin-top: 0px;
	-->
	margin-right: 5px;
	display: inline-block;
	float: left;
	width: 50%;
}
div.review-close-review
{	
	margin-top: 0px;
	margin-right: 1%;
	display: inline-block;
	float: right;	
}
div.review-update-data-info-descr-text
{
	margin-top: 5px;
	font-size: 16px;
	<!--
	margin-top: 10px;
	-->
	font-weight: bold;
}
div.review-update-data-info-descr-number
{
	margin-top: 3px;
	margin-left: 15px;
	font-weight: bold;
}

div.index-review-single
{
	background-color: #FCFDFF;
	padding: 10px 1% 5px 1%;
	margin: 5px 1% 5px 1%;
	border: 1px solid #9ad7f5;
	width: 96%;
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	z-index: 4;
	position: relative;
	cursor: pointer;		
}
div.index-review-single-item
{
}
a.submit-btn
{
	background-color: #afbad7;
    border: 0 solid #AFBAD7;
    font-size: 15px;
    padding: 5px 30px 5px 30px;
	width: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	cursor: pointer;
	
}
a.submit-btn:HOVER
{
	background-color: white;
}
div.search-box
{
	padding:18px 10px 10px 10px;
	margin: 20px 0px 0px 10px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: #f4f6fb;
	min-width: 100px;
}
div.search-box-title
{
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}
div.search-box-list
{
    margin: 0px 0px 5px 0px;
}
div.index-review-summary
{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
	float: left;
	position:relative;
	width: 50%;
}
div.index-review-summary-unread
{
  	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	float: left;
	font-weight:bold;
	position:relative;
	width: 50%;
}
div.index-review-tag-box
{
	margin:0px 0px 0px 5px;
	float: left;
	position:relative;
	display: inline-block;
}

div.index-review-single-tag
{
	padding: 0px 2px 0px 2px;
	float:left;
    font-size: 12px;
	background-color: #9AD7F5;
	max-width: 60px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
}
div.review-tag-containier
{
	display: inline-block;
	width: 50%;	
}
div.review-single-tag
{
	display: inline-block;
	padding: 0px 2px 0px 2px;
	margin: 4px 4px 4px 4px;
	float:left;
    font-size: 12px;
	border: 0px solid white;
	background-color: #9AD7F5;
}

div.index-review-priority-box
{
	margin:0px 0px 0px 5px;
	padding: 0px 2px 0px 2px;
	float: left;
	position:relative;
	display: inline-block;
	font-size: 12px;
	border: 1px solid white;
	background-color: #9AA7F5;
}
div.index-review-type-box
{
	margin:0px 0px 0px 5px;
	padding: 0px 2px 0px 2px;
	float: left;
	position:relative;
	display: inline-block;
	font-size: 12px;
	
	background-color: #96CDCD;
	max-width: 100px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
	
}
div.index-review-close-box
{
	margin:0px 0px 0px 5px;
	padding: 0px 2px 0px 2px;
	float: left;
	position:relative;
	display: inline-block;
	font-size: 12px;
	background-color: #cccccc;
}

div.index-review-resource-box
{
	margin:0px 0px 0px 5px;
	float: right;
	position:relative;
	display: inline-block;
}

div.index-review-single-resource
{
	padding: 0px 2px 0px 2px;
	float:left;
}
div.index-review-date
{
	display: inline-block;
	position: relative;
	float: right;
	top: 2px;
	font-size: 10px;
	line-height: 18px;
	
}
div.review-attach-image
{
	position: relative;
	background-color: #FCFDFF;
	padding: 5px 5px 5px 5px ;
	margin: 2px 2px 2px 2px;
	display: inline-block;
	float: left;
}

input.review-attach-image
{
	position: absolute;
	right:15px;
	top: 15px;
	z-index: 10;
	padding: 0px 5px  0px 5px;
}
div.review-attach-image-description
{
	display: block;
	position: relative;
	font-size: 12px;
}
div.singles-notes-container
{
	padding-top:10px;
	display: block;
	position: relative;
	float: left;
	width: 98%;
	margin: 0 1%;
}
div.singles-notes-confirmations
{
	padding-top:10px;
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

p.single-formated-text
{
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}
div.review-multimedia-conteiner
{
	position:relative;
	display: inline-block;
	float: left;
	width: 99%;
	margin-left:1%;
	display: none;
}

div.review-add-images-container
{
	margin-bottom: 30px;
}
div.review-add-docs-container
{
	margin-top: 10px;
}
textarea.review-white
{
	background-color: white;
}
div.review-container-album
{
	width: 45%;
	float: left;
	position: relative;
}
div.review-container-single-album
{
	width: 90%;
	float: left;
	position: relative;
	display: inline;
	margin-bottom: 20px;
}
div.review-container-documents
{
	width: 39%;
	float: left;
	position: relative;
}
div.review-resources-title
{
	width: 100%;
	height: 40px;
	margin-bottom: 30px;
	padding: 18px 0px 0px 0px;
	font-size: 18px;
	float: left;
	background-color: #F4F6FB;
}
div.review-resources-title-text
{
	margin-left: 10px;
}
div.customer-assign-title
{
	width: 97%;
	height: 40px;
	background-color: #F4F6FB;
	margin-bottom: 10px;
	padding: 18px 5px 0px 20px;
	font-size: 18px;
}
div.review-update-files-name
{
	width: 300px;
	float:left;
	margin-top: 5px;
}
div.review-tech-child-files-name
{
	width: 350px;
	float:left;
	margin-top: 5px;
	margin-left: 35px;
}
div.review-tech-files-name
{
	width: 350px;
	float:left;
	margin-top: 5px;
}
div.review-tech-files-descr
{
	width: 450px;
	float:left;	
}
div.review-tech-files-permission
{
	width: 100px;
	float:left;	
}
div.review-update-files-descr
{
	width: 600px;
	float:left;	
}
textarea.review-update-files-descr
{
	width: 100%;
	resize:none;
	border: 1px solid #F4F6FB;
	background-color: #F4F6FB;
	padding-left: 10px;
	padding-top: 5px;
}
textarea.review-update-files-descr:HOVER
{
	background-color: white;
	border: 1px solid #BBBBBB;
}
textarea.review-update-files-descr:FOCUS
{
	background-color: white;
	border: 1px solid blue;
}

div.review-update-single-files
{
	width: 100%;
	position: relative;
	float: left;		
}
input.album-action-remove-update-file
{
	right: 0px;	
}
div.review-attr-level
{
	float: left;
	<!-- 
	margin-top: 5px;
	-->
}
div.review-type
{
	float:left;
	margin-top: 10px;
	margin-left: 5px;
}
div.review-cbo
{
	float:left;
	margin-top: 5px;
	margin-left: 10px;
	background-color: #F4F6FB;
	cursor: default;
}
div.order-info
{
	float:left;
	margin-top: 10px;
	margin-left: 20px;
}
div.review-single-view-actions
{
	width: 97%;
	margin: 0px;
	height: auto;
	background-color: #D7DDEB;
	padding: 5px 1% 5px 1%;
	position: relative;
	float: left;
}
div.review-single-view-actions-need-conf
{
	float:left;
	margin-top: 5px;
	padding-left: 15px;
	display: inline-block;
	
}
div.review-single-view-autor
{
	position: relative;
	float:left;
	padding-left: 15px;
	display: inline-block;
	font-weight: bold;
	height: auto;
}

div.review-single-view-actions-conf
{
	float:left;
	margin-top: 5px;
	display: inline-block;
}
div.review-confirm-note-btn-pos
{	
	right:110px;
	top: 7px;
}
div.review-decline-note-btn-pos
{	
	right:30px;
	top: 7px;
}
div.review-conf-note-pos
{	
	right:30px;
	top: 7px;
	position: absolute;
	font-size: 10px;
	line-height: 18px;
	z-index: 20;
	padding: 0px 5px  0px 5px;	
	width:80px;
	text-align: center;
}
div.review-confirm-note-btn
{	
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	position: absolute;
	font-size: 10px;
	line-height: 18px;
	background: none repeat scroll 0 0 #AFBAD7;
	z-index: 20;
	padding: 0px 5px  0px 5px;
	cursor: pointer;	
	width:60px;
	text-align: center;
}
div.review-decline-note-btn
{	
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	position: absolute;
	font-size: 10px;
	line-height: 18px;
	background: none repeat scroll 0 0 #AFBAD7;
	z-index: 20;
	padding: 0px 5px  0px 5px;
	cursor: pointer;	
	width:60px;
	text-align: center;
}
div.review-confirm-note-btn:HOVER
{	
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
div.review-decline-note-btn:HOVER
{	
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
div.review-confirmed-note-btn
{	
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	position: absolute;
	font-size: 10px;
	line-height: 18px;
	background: none repeat scroll 0 0 #AFBAD7;
	z-index: 20;
	padding: 0px 5px  0px 5px;
	cursor: default;	
	width:60px;
	text-align: center;	
}
p.review-attach-image-description
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 240px;
	margin: 0px;
}
div.review-permission-chk-decoration
{
	font-size: 10px;
	line-height: 18px;
	background: none repeat scroll 0 0 #AFBAD7;
	padding: 0px 5px  0px 5px;
	cursor: pointer;	
	width:70px;
	text-align: center;
	margin-left:5px;	
}
div.review-permission-chk-decoration-unchk
{
	background: none repeat scroll 0 0 #AFBAD7;	
}
div.review-permission-chk-decoration-chk
{
	background: none repeat scroll 0 0 #D7DDEB;
}
div.review-permission-row
{
	display: inline-block;
	<!--
  	display: inline;  	
  	-->
	margin-top: 3px;
	<!--
	zoom:1;
	-->
	<!--
	vertical-align: bottom;
	--> 
}
div.review-permission-row-date
{
	margin-left:5px;
	font-size: 10px;
	display: inline-block;
	<!--
  	display: inline;  	
  	-->
	margin-top: 3px;
	<!--
	zoom:1;
	-->
	<!--
	vertical-align: bottom;
	--> 
}
div.review-permission-row-first
{
	width: 20%;
	display: inline-block;
	overflow: hidden;
	height: 16px;
	<!--
  	display: inline;  	
  	-->
  	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  	
}
div.user-group-first
{
	width: 20%;
	display: inline-block;
	height: 16px;
	float:left;
	<!--
  	display: inline;  	
  	-->
  	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  	
}
.messageError
{
	color: red;
	font-style: italic;
	display: none;
}
div.header-menu
{
	display: inline-block;
	width: 1340px;
	background-color: #AFBAD7;
	position: fixed;
	-moz-box-shadow:    0px 0px 3px 3px gray;
	-webkit-box-shadow: 0px 0px 3px 3px gray;
  	box-shadow:         0px 0px 3px 3px gray;
  	<!--
  	border-bottom: 1px solid #CCC;  	
  	-->

}
div.header-menu-item-old
{
	float: left;
	margin-left: 920px;
	margin-top: 2px;
}
a.header-menu-item-old
{
	margin-right:5px;
	color: gray;
	font-weight: bold;
	text-decoration: none;
}
a.header-menu-item-old:HOVER
{
	color: white;
}
div.review-note-users-groups
{
	float: left;
}
div.review-note-users-names
{
	font-weight: bold;
	float: left;
	margin-left: 2px; 
}
div.index-users
{
	padding-left:26px;
	display: inline-block;
	float: left;
	width: 70%;
}
div.index-text-user
{
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	float: left;
}
div.index-text-user-read
{
	display:inline-block;
	font-size: 11px;
	line-height: 18px;
	float: left;
	width: 100%;
}

div.index-review-single-container
{
	float: left;
	position: relative;
	width: 100%;
}
div.album-view-image
{
	display: inline-block;
	position: relative;
	margin-top: 10px;
}
div.album-view-image-img
{
	display: inline-block;
	float: left;
	margin-left: 10px;
}
div.album-view-image-size
{
	display: inline-block;
	float: right;
	margin-left: 10px;
}
div.album-view-image-text
{
	display: inline-block;
	float: right;
	margin-left: 10px;
}
div.album-view-image-cancel
{
	display: inline-block;
	float: right;
	margin-left: 10px;
}
div.review-update-notification
{
	position: fixed;
	width: 180px;
	left: 15px;
	top: 500px; 
	background-color: #F4F6FB;
	border-radius: 5px;
	border: 1px solid #D7DDEB;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

div.status-permission-row
{
	width:30%;
	display: inline-block;
	<!--
  	display: inline;  	
  	-->
	margin-top: 3px;
	<!--
	zoom:1;
	-->
	<!--
	vertical-align: bottom;
	--> 
}
div.status-permission-title
{
	font-size: 13px;
	line-height: 18px;
	padding: 0px 5px  0px 5px;
	width:70px;
	text-align: left;
	margin-left:5px;
	float: left;
}
div.status-permission-data
{
	font-size: 11px;
	line-height: 18px;
	padding: 0px 5px  0px 5px;
	width:70px;
	text-align: left;
	margin-left:5px;
	float: left;
}
div.status-permission-date
{
	font-size: 11px;
	line-height: 18px;
	padding: 0px 5px  0px 5px;
	width:70px;
	text-align: right;
	margin-left:5px;
	float: left;
}
div.review-types
{
	display: inline-block;
	width: 100%;
	
}
div.review-types span
{
border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
div.review-types input
{
	float: left;
}
div.review-types label
{
	border: 0 none;
    font: inherit;
    margin: 4px 0px 0px 30px;
    padding: 0;
    vertical-align: baseline;
}
div.check-title
{
	font-weight: bold;
	margin-bottom: 10px;
}
div.row-half
{
	width: 45%;
	position: relative;
	float: left;
}
div.customer-button-box
{
	position: relative;
	float: right;
}
.google-permission-zone
{
	margin:0px;padding:0px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
	position: absolute;
	width: 50%;	
	z-index: 10;
	float:right;
	height:auto;
	display: none;
	
}.google-permission-zone table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.google-permission-zone tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}.google-permission-zone table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.google-permission-zone table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.google-permission-zone tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.google-permission-zone tr:hover td{
	background-color:#82c0ff;
	background:-o-linear-gradient(bottom, #82c0ff 5%, #56aaff 100%);	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #82c0ff), color-stop(1, #56aaff) );
	background:-moz-linear-gradient( center top, #e5ecfb 5%, #AFBAD7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#82c0ff", endColorstr="#56aaff");	background: -o-linear-gradient(top,#82c0ff,56aaff);
}.google-permission-zone tr:first-child td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #AFBAD7 5%, #AFBAD7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family: Roboto,Arial,sans-serif;
	font-weight:normal;
	color:#ffffff;
}.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
}.google-permission-zone tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}.google-permission-zone tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}.google-permission-zone td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #82c0ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #82c0ff) ); 
	background:-moz-linear-gradient( center top, #E5ECFB 5%, #E5ECFB 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#82c0ff");	background: -o-linear-gradient(top,#56aaff,82c0ff);
	background-color:#56aaff;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Comic Sans MS;
	font-weight:normal
	color:#000000;
}.google-permission-zone tr:last-child td{
	border-width:0px 1px 0px 0px;
}.google-permission-zone tr td:last-child{
	border-width:0px 0px 1px 0px;
}.google-permission-zone tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
div.google-permission-zone2
{
	font-size: 13px;
	line-height: 18px;
	padding:18px 10px 10px 10px;
	border-top: 1px solid white;
	border-bottom: 1px solid #D2D9E7;
	background-color: #E5ECFB;
	position: absolute;
	width: 200px;	
	z-index: 10;
	float:right;
	height:auto;
	display:none;
	margin-top: 10px;
}
div.google-permission-users
{	
	width: 80%;
	margin-top :10px;
	top:2px;
	display:inline-block;	
}
div.google-permission-status
{		
	right:0px;
	display:inline-block;
	margin-top :12px;
	vertical-align: top;
}
img.image-g-drive
{
	cursor: pointer;
}
div.chart-container
{
	margin-top: 0px;
    width: 150px;
    height: 240px;
	float:right;
	display: inline-block;
	vertical-align: top	
}
img.collapser
{
	float:left;width:20px;margin-left:-40px;margin-top:3px;
}
div.index-review-quick-view-collapsable
{
	float: left;
	width: 100%;
}
div.index-review-quick-view-items
{
	float: left;
	width: 80%;	
}
div.index-review-quick-view-chart
{
	float: left;
	width: 20%;
	min-width: 100px;	
}
#page ul.yiiPager .first,
#page ul.yiiPager .last
{
        display: inline;
}
div.filter-panel
{
	float: left;
	margin-top: 40px;
	width: 15%;
	display: none;
}
div.whrapper
{
	float: left;
	width: 100%;
	
}
div.checkbox-group
{
	display:inline-block;
	position: relative;
	text-align: center;
}
div.review-simple-note-container
{
	position: relative;
	float: left;
	width: 100%;
}
@media (max-width: 1200px) {
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{ width:100% !important; max-width:100% !important; min-width:900px !important;}
}
@media (max-width: 800px) {
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{ width:100% !important; max-width:100% !important; min-width:400px !important;}
div.wall-action-edit-main-note{height: auto;}
}

@media (max-width: 768px) {
body{padding-left: 0px  !important;padding-right: 0px  !important;} .container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{ width:100% !important; max-width:100% !important; min-width:480px !important;margin-left: 0px;margin-right: 0px;}
.brand{margin-left: 10px  !important;}
div.wall-action-edit-main-note{height: auto;}
div.index-review-quick-view-chart
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	float:none;
}
div.index-review-quick-view-items
{
	width: 98%;
}
}
@media (max-width: 480px) {
body{padding-left: 0px  !important;padding-right: 0px  !important;} .container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{ width:100% !important; max-width:100% !important; min-width:480px !important;margin-left: 0px;margin-right: 0px;}
.brand{margin-left: 10px  !important;}
div.wall-action-edit-main-note{height: auto;}
div.index-review-quick-view-chart
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	float:none;
}
div.index-review-quick-view-items
{
	width: 98%;
}
}
