/**
* @file: draglist.css 
* @version: 1.0
*/

ul.dlist { list-style-type: none; margin: 3px 3px 20px 3px; padding: 2px; width: 60%; background-color:#FAF0B1;}
ul.dlist li { margin: 5px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
ul.dlist li span { position: absolute; margin-left: -1.3em; }
ul.dlist li img {float:right}
.edit_add {background: url(images/edit_add.png) no-repeat;width:22px; height:22px;text-indent: -9999px; padding: 2px;}

