/**	
* @file: droptrash.css 
* @version: 1.0
*/

#addLink
{ 	 
	width: 20px; 
	height: 25px; 
	background-image: url("./graphics/add.png");
	background-repeat: no-repeat; 
	cursor:pointer;
	position:absolute;
	right:0;
 	top:0;	
}

.links 
{
	width: 300px;
	height: 100px;
	top:0px;
	overflow:auto;
	overflow-x:hidden; 
	border: 1px solid;
}

.addContainer 
{
	position:relative;
	width: 250px;
	height: 50px;
	top:0px;
}


.linkContainer 
{
	position:relative;
	width: 300px;
	height: 25px;
	top:0px;
}

#addText 
{
	position:absolute;
	top:0;
	left:0;
	width:200px;
}

.deleteLink
{
	width: 25px; 
	height: 25px; 
	background-image: url("./graphics/delete.png");
	background-repeat: no-repeat; 
	cursor:pointer;
	position:absolute;
	top:0;
	right:20px;
	width:25px;
}

.linkAdded
{
	position:absolute;
	left:0;
 	top:0;
	width: 250px;
}
